<NavBar />
<h2>About Clojurious</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod.
    Nulla facilisi. Donec euismod. Nulla facilisi. Donec euismod. Nulla
    facilisi. Donec euismod. Nulla facilisi. Donec euismod. Nulla facilisi.
</p>
<LinkTo @route="contact" class="button-dark">Contact Us</LinkTo>