<NavBar />
<h2>Contact Us</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam,
    quibusdam, temporibus, aliquam, doloremque, voluptatem, veritatis,
    architecto, quidem, dolore, eius.
</p>
<address>
  <strong>Company, Inc.</strong><br>
  1234 Street Rd.<br>
  City, ST 12345<br>
  <abbr title="Phone">P:</abbr> (123) 456-7890
</address>
<LinkTo @route="about" class="button-dark">About Us</LinkTo>